.container1,
.container2,
.container3 {
  display: flex;
  width: auto;
  border: 5px;
  align-content: baseline;
}
.container {
  display: flex;
  border: 5px solid white;
  width: auto;
  align-items: flex-start;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  border-radius: 2px;
  height: 150px;
}
.box1 {
  background-color: #f07879;
  width: 46.5%;
}
.box2 {
  background-color: #d29346;
  width: 25%;
}
.box3 {
  background-color: #477fd4;
  width: 20%;
}
.box4,
.box5,
.box6 {
  border-radius: 2px;
  margin-left: 5px;
  height: 150px;
}
.box4 {
  border: 3px solid #f07879;
  width: 46.5%;
}
.box5 {
  border: 3px solid #d29346;
  width: 25%;
}
.box6 {
  border: 3px solid #477fd4;
  width: 20%;
}
.container1 {
  border: 6px;
  justify-content: center;
  flex-flow: row wrap;
}
.box7,
.box8,
.box9 {
  margin: 11px;
  border-radius: 5px;
  height: 100px;
}
.box7 {
  background-color: #f07879;
  width: 375px;
  justify-content: left;
}
.box8 {
  background-color: #d29346;
  width: 194px;
}
.box9 {
  background-color: #477fd4;
  width: 164px;
}
.container2 {
  margin-left: 10px;
  margin-top: 25px;
  justify-content: left;
  flex-flow: wrap;
  top: 600px;
}
.container3 {
  margin-right: 10px;
  justify-content: right;
  flex-flow: wrap;
}
.box10,
.box11,
.box12,
.box13,
.box14,
.box15 {
  margin: 10px;
  border-radius: 4px;
  height: 100px;
}
.box10,
.box13 {
  background-color: #f07879;
  width: 375px;
}
.box11,
.box14 {
  background-color: #d29346;
  width: 194px;
}
.box12,
.box15 {
  background-color: #477fd4;
  width: 164px;
}
